#step-1 {
    position:absolute;
    top: 100px;
}

.fc-toolbar {
    display: none;
}

#calendarioUI {
    display:inline;
}

ul.thumbnails.image_picker_selector {
    width: 100%!important;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%!important;
}
ul.thumbnails.image_picker_selector li {
    width: 24%!important;
}

ul.thumbnails.image_picker_selector li {
    margin: 0px!important;
    margin-right: 1%!important;
    float: left;
}

ul.thumbnails.image_picker_selector li .thumbnail {
    padding: 6px;
    border: none!important;
    -moz-user-select: none;
}

@media (max-width: 600px) {
    ul.thumbnails.image_picker_selector li {
        width: 48%!important;
    }

    ul.thumbnails.image_picker_selector li {
        margin-right: 1%!important;
    }

}

.fc-time{
    display : none;
}

.fc-title {
    white-space: normal;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.fc-view, .fc-view > table {
    position: relative;
    z-index: 0;
}

#ErrorRe, #ErrorRe1, #ErrorCa, #ErrorCa1 {
    margin-top: 20px;
}

#calendarioUI {
    visibility:hidden;
    opacity:0;
    transition:opacity 1.5s linear;
}

#selectConstruct {
    display: none;
}